@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*{ 
    padding: 0;
    margin: 0;

}
                                /*inicio navbar*/
header{
    background-color: rgb(248, 187, 197); 
    max-height: fit-content;
    position: sticky;
    
}
nav ul li{
    display: inline;
    list-style: none;
    color: black;
    font-size: 0.50cm;
    font-family: 'Quicksand', sans-serif;
    list-style-type: none;
    padding: 10px;
}

li:hover a{
    background-color: rgb(248, 123, 150);
    color: white;
    border-radius: 10px;
}
.navbar-toggler{
    
    background-color: rgb(230, 161, 194);

}
                                                /*fin navbar*/  
                                                /*titulo*/
h1{
    display: flex;
    justify-content: center;
    color: rgb(240, 26, 158);
    margin: 20px;
}
h1:hover{
    transform: scale(2);
}

                                                /*inicio carrucel*/


                                                /*inicio footers*/
footer{
    background-color: rgb(248, 187, 197);
    height: 5,2cm;
    padding: 0px;
    margin-bottom: 0;
    margin-top: 0;
    align-items: center;
}
h5{
    display: grid;
    text-align: center;
}
h6{
    display: grid;
    text-align: center;
}
.nav-item{
    display: grid;
    text-align: center;
}
.linkContactanos{
    text-decoration: none;
}
.redes:hover{
    border-radius: 5px;
    transform: scale(2);
}
.sociales{
    display: flex;
    justify-content: center;
}

                                                /*fin booter*/
  
                                                /*inicio nosotros*/
.nosotros{
    background: url(../img/quienesomos.jpg);
    background-size: cover;
}
.nosotros2{
    display: grid;
    text-align: left;
    margin-left: 20px;
}
.parrafo p{
    color: black;
    text-align: left;
    margin-left: 20px;
    height: 12rem;
    text-align:justify
}
.nosotrosdescripcion h4{
    margin: 20px;
    margin-top: 40px;
    margin-left: 20px;
}
                                    /*fin nosotros*/
                                        /*contacto*/
.contacto{
    text-align: center;
    margin-top: 20px;
}
.contacto2{
    margin: auto;
    
}
.conhover:hover{

    scale: 2s;
    color: pink;
    
}


                                            /*galeria*/



.galeriaGeneral{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    grid-gap: 15px;
   
}

