@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*{ 
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(243, 217, 220);
}
/*inicio navbar*/
header{
    background-color: rgb(248, 187, 197); 
    height: 3cm;
    position: sticky;
    top: 0;
}

ul li{
    list-style-type: none;
    padding: 10px;
}

nav ul li{
    display: inline;
    list-style: none;
    color: black;
    font-size: 0.50cm;
    font-family: 'Quicksand', sans-serif;
}

li:hover a{
    background-color: rgb(248, 123, 150);
    color: white;
}
nav{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: end;
}
.navbar{
    display: flex;
    justify-content: flex-end;
}
  /*fin navbar*/  
/*inicio titulo h1*/
h1{
    display: flex;
    justify-content: center;
    color: rgb(240, 26, 158);
}
h1:hover{
    transform: scale(2);
}
/*fin titulo 1*/

.imagen1{
    margin-bottom: 20px;
    margin-left: 20px;
}

.imagen2{
    margin-bottom: 20px;
    margin-left: 20px;
}
/*eliminar
img{
    border-radius: 10px;
    border: 0 rgb(248, 187, 197);
}*/


/*inicio del footer*/
footer{
    background-color: rgb(248, 187, 197);
    height: 210px;
    padding: 0px;
    margin-bottom: 0;
    margin-top: 450px;
    align-items: center;
}
h5{
    display: grid;
    text-align: center;
}
h6{
    display: grid;
    text-align: center;
}
.nav-item{
    display: grid;
    text-align: center;
}
/*fin booter*/

.principal{
    color: rgb(245, 10, 139);
    text-align: center;
    margin-top: 50px;
}
.subtitulo{
    color: rgb(11, 240, 11);
}

p{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.parrafoSegundo{
    color: rgb(56, 56, 110);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*inicio nosotros*/
.nosotros{
    background: url(../img/quienesomos.jpg);
    background-size: cover;
}
.nosotros2{
    display: grid;
    text-align: left;
}
.nosotrosdescripcion p{
    color: black;
    text-align: left;
    margin-right: 600px;
    justify-content: center;
}
.nosotrosdescripcion h4{
    margin: 10px;
    margin-top: 40px;
    margin-left: 5px;
}
/*fin nosotros*/

/* inicio productos*/
.productoContainer{
    display: grid;
    margin: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.tituloproductos{
    text-align: center;
}

.card img{
    width: 10px;
}
.colorparrafo{
    color: black;
    text-align: center;
}
.productoContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.grilla{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "productoContainer productoContainer"
    
}

.productoContainer{
    grid-area: productoContainer;
    
}

.galeria{
    border-radius: 5px;
    width: 200px;
    height: 300px;
    margin: 15px;
}
.galeria:hover{
    transform: scale(2);
}
.productoContainer{
display: grid;
grid-template-columns: auto auto;
grid-template-rows: auto auto;
height: 1000px;
justify-content: space-evenly;
align-items: end;
gap: 100px;
}
.art{
    display: flex;
    
    margin-top: 40px;
}
/* fin pruductos*/
.form{
    display: flex;
    margin: 10rem;
    border-radius: 5px;

    
}

/*.headercito{
    grid-area: header;
}
.contenido{
    grid-area: contenido;
}
.fotercito{
    grid-area: footer;
}
.grilla-index{
    grid-area: index;
}
@media (min-widht: 1200px){
    

}
@media (min-width: 768px){
    .productos{
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas: 
        "header header header"
        "contenido contenido contenido"
        "footer footer footer";
    }
    .wrpeer{
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas: 
        "header header header"
        "index index index"
        "fotercito fotercito fotercito";
    }
}
@media (min-width: 500px){
    .productos{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "contenido"
        "footer";
    }
    .grilla{
        display: grid;
        grid-template-columns: 1fr;
    }

